
* {
  padding: 0px;
  margin: 0px;
}

$green: #2dce50;
$main: #2c2c2c;
$primary: #464646;
$secodary: #7e7873;


body {
  background-color: $secodary;
  
}

header .top-nav--box {
  background-color: $main;
}

header .logo img {
  width: 80px;
  height: 40px;
}

header .navbar-nav .nav-link {
  text-align: center;
}
.nav-item{
  position: relative;
}
.activ::after {
  content: "";
  position: absolute;
  width: 15%;
  border-bottom: 3px solid $green;
  left: 50%;
  transform:translateX(-50%);
  right: 5px;
  bottom: -2px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}
.head-content{
  background-color: $primary;
}

.head-content .second--nav .nav-link {
  line-height: 25px;
  padding: 3px;
  margin-right: 40px;
  font-size: .8rem;
  position: relative;
  @media (max-width:768px) {
    margin-right: 20px;
  }
}

.head-content .second--nav .nav-link:hover {
  color: #2dce50;
}

.current::after {
  content: "";
  position: absolute;
  width: 90%;
  border-bottom: 3px solid $green;
  right: 5px;
  bottom: -2px;
}


// ----------THEMES

main{
  position: relative;
  padding-bottom: 100px;
}

section.themes-sec{
  padding-top: 35px;

  strong{
    color: $primary;
        padding: 18px 0px 0px 12px;
        cursor: default;
      
  }
  button{
    background-color: $primary;
    border: 2px solid rgba(211, 211, 211, 0.692);
    padding: 8px 16px;
    border-radius: 5px;
    outline: 0px;
    transition: all .7s;
    color: rgba(211, 211, 211, 0.692);
    font-weight: 600;
    cursor: pointer;

    &:hover{
    box-sizing: border-box;
      background-color: $main;
      transform: translateY(-3px);
      border: 2px solid rgba(211, 211, 211, 0.692);
      
    }
  }
}

.gallery--container {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  background-color: $secodary;



}

.gallery {
  width: 100%;
  margin: 15px 0px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 8px;
  grid-auto-rows: minmax(230px, 270px);

@media (max-width: 992px) {
  grid-template-columns: repeat(4, 1fr);
  
}
@media (max-width: 768px) {
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 576px){
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 492px){
grid-template-columns: 1fr;
    grid-gap: 2px;
}

}

.el-1{
  background: url(../../images/girl-shoping.png); 
}
.el-2{
  background: url(../../images/man-walk.png);
}
.el-3{
  background: url(../../images/yoga.png);
}

.el {
  cursor: pointer;
  background-color: $main;
  transition: all .5s;
  transform: scale(1);
  position: relative;
  border-radius: 3px;
  position: relative;
   background-position: center;
  background-size: cover;
  overflow: hidden;
  

  &:hover{
    transform: scale(.95);
  }

  .el-content{
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    background-color: rgba(rgb(0, 0, 0), 0.6);

    p{
      color: #fff;
      padding: 15px 10px;
      font-size: .8rem;
    }
  }
  
}
.fill{
  border: 2px solid rgb(211, 211, 211);
  &:hover{
  border: 2px solid rgb(250, 180, 67);
    
  }
}


// info each theme
.info-each-theme-sec{
  padding-top: 30px;
  position: absolute;
  background-color: #fff;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: $secodary;

   .close-btn{
    background-color: transparent;
    border: 2px solid $primary;
    padding: 8px 16px;
    border-radius: 5px;
    outline: 0px;
    transition: all .7s;
    color: $primary;
    font-weight: 600;
    cursor: pointer;

    &:hover{
    box-sizing: border-box;
      background-color: $primary;
      transform: translateY(-3px);
      color: $secodary;
      border: 2px solid rgba(211, 211, 211, 0.692);
      
    }
  }


  
}
.theme-info-header {
  min-height: 270px;
  

}
  .theme-info-header-pic{
    height: 270px;
    background: url(../../images/girl-shoping.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid rgb(211, 211, 211);
    transition: all .6s;
  &:hover{
  border: 2px solid rgb(250, 180, 67);}

    @media(max-width:567px){
    background-position: top;
    }
  }
  .theme-info-header-content{
     height: 270px;
     padding-right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media(max-width:567px){
    padding-right: 15px;
    }


    p{
      background-color: $secodary;
       font-weight: 600;
       color: rgb(211, 211, 211);
       background-color: $primary;

    }
      .intro{
       padding: 17px 10px;
       height: 20%;

        @media(max-width:567px){
    margin-top: 15px;
    }


      }
      .def{
        height: 75%;
        margin-bottom: 0;
        padding: 20px 10px;
      }
  }

  // theme-info-detail

  .theme-info-detail{
    .container{
      display: grid;
      padding-left: 0px;
      padding-right: 0px;
      grid-template-columns: repeat(2,1fr);
      grid-auto-rows: minmax(250px , 270px);
      overflow: hidden;
      grid-gap: 15px;


      @media(max-width:768px){
      grid-template-columns: repeat(2,1fr);
      }
      @media(max-width:467px){
      grid-template-columns: repeat(1,1fr);
      }

      

      div{
        // padding: 0px 30px;
        position: relative;
      }
    }

    .sidebar{
      position: fixed;
      padding: 0px;
      left: 0;
      width: 40px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $main;
      z-index: 999;
     
      
    }

    .chk-box{
      width: 15px;
      height: 15px;
      border: 2px soli $secodary;
      background-color: $secodary;
      cursor: pointer;
    }
    .check{
     border : 4px solid lighten($green,10%);
    //  border-style: inset;
     border-radius: 50%;
    }
    i{
      color: $secodary;
      cursor: pointer;
      &:hover{
        color: rgb(211, 211, 211);
      }
    }

    .theme-info-card--body{
      background-color: $primary;
      position: absolute;
      padding: 0px;
      left: 40px;
      top: -100%;
      width:100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background-color: $primary;

      p{
        font-weight: 400;
       color: rgb(211, 211, 211);
       line-height: 1.3rem;
       padding-top: 24px;
       padding-left: 8px;
    padding-right: 40px;

    

      }
    }
    div.theme-info-crd--body{
      background-color: $primary;
      position: relative;
    }

    // modal-card-info


    div.theme-card-info--modal{
      position: absolute;
      background-color: $main;
      height: 100%;
      width: 100%;
      left: -105%;
      transition: all .5s;
     

      .accept-btn{
        position: absolute;
        bottom: 10px;
        left: 25px;
      }
      button{
        border: 2px solid $main;
        border-radius: 5px;
        color: rgb(211, 211, 211);
        background-color: transparent;
        padding: 2px 8px;
        font-size: .8rem;
        font-weight: 600;
        cursor: pointer;
        transition: all .5s;

        
    &:hover{
        border: 2px solid $secodary;
      background-color: $primary;
      transform: translate(1px,-1px);
      
    }
      }
      
    }
    div.slid-out{
      left: 0%;
    }
    
  }
  div.theme-info--card{
    overflow: hidden;
          background: $primary;

    &:hover .fa-bars{
      color: #fff;
    }
  }















