* {
  padding: 0px;
  margin: 0px;
}
$green: #2dce50;
$main: #2c2c2c;
$primary: #464646;
$secodary: #7e7873;
$lightsky:rgb(207, 245, 238);
$text-color:lighten(#fff,15%);

body {
  background-color: #5f5f5f;
  position: relative;
  min-height: 1100px;
  max-width: 1280px;
  margin: 0px auto;
}

header .top-nav--box {
  background-color: #2c2c2c;
  position: relative;
  z-index: 5555;
}

header .logo img {
  width: 80px;
  height: 40px;
}

header .navbar-nav .nav-link {
  text-align: center;
}
.nav-item {
  position: relative;
}
.activ::after {
  content: "";
  position: absolute;
  width: 15%;
  border-bottom: 3px solid #2dce50;
  left: 50%;
  transform: translateX(-50%);
  right: 5px;
  bottom: -2px;
}

.navbar-dark .navbar-nav .nav-link {
  line-height: 25px;
  color: #fff;
}

.head-content {
  width: 100%;
  background-color: #464646;
}

.head-content .content {
  padding-top: 80px;

  @media (max-width: 568px) {
    padding-top: 50px;
  }
}

.head-content .second--nav .nav-link {
  padding: 3px;
  margin-right: 40px;
  font-size: 0.8rem;
  position: relative;

  @media (max-width: 768px) {
    margin-right: 20px;
  }
}

.head-content .second--nav .nav-link:hover {
  color: #2dce50;
}

.current::after {
  content: "";
  position: absolute;
  width: 90%;
  border-bottom: 3px solid #2dce50;
  // left: 5%;
  right: 5px;
  bottom: -2px;
}
 .design-page--title{
   line-height: 80px;
   padding-left: 20px;
   color: $green;
   font-size: 1.5rem;
 }
.design-cards {
  width: 100%;
  height: 230px;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: scroll;
  .card {
    background-color: transparent;
    border: 0px;
    a {
      height: 100%;
      text-decoration: none;
    }

    .design-card {
      width: 100%;
      height: 100%;
      border: 2px solid darken($secodary, 10%);
      border-radius: 8px;
      background-color: $main;
      color: $secodary;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
  }
  .design .design-fill {
    background-color: $lightsky;
    transform: scale(1);
    transition: all .4s;
    cursor: pointer;
    &:hover{
    background-color: darken($lightsky,10%);
      transform: scale(1.02);
      
    }
  }
  .num {
    width: 30px;
    height: 30px;
    border: 1px solid $secodary;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .design-fill--next{
    background-color:$main !important;
    transform: scale(1);
    transition: all .4s;
    cursor: pointer;
    &:hover{
    background-color: darken($lightsky,10%);
      transform: scale(1.02);
      
  }
      .num {
    width: 30px;
    border: 0px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  }

  
  .svg {
    width: 70px;
    height: 70px;
   
  }
  .comment{
    width: 40px;
    height: 40px;
  }

  .add-design {
    width: 40px;

  }
}

// ---------

.design-content {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #7e7873;

  //   @media (max-width: 576px) {
  //     overflow-y: scroll;
  // }
}


// design--board-----------

.open-design--board{
  margin-top: 50px;
  position: absolute;
  background-color: $secodary;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  overflow: hidden;
  transition: all .5s;
  padding-bottom: 100px;
 

  .head-content{
  background-color: $primary;

  .design-board--title{
      font-size: 1.5rem;
      color: $green;

      button{
        border: 0px;
        border: 1px solid rgb(44, 43, 43);
        background-color: $main;
        padding: 0px 8px;
        line-height: 35px;
        border-radius: 3px;
        color: #fff;
        transition: all .3s;
        cursor: pointer;
        transform: scale(1);
        &:hover{
          transform: scale(1.1);
          // transform: translate(2px, -3px);
          background-color: rgba(34, 33, 33, 0.726);
        }
        &:focus{
          outline: 0px;
        }
      }
   
  }

  }

  .stopwatch{
    height: 230px;
    color: #fff;

    .days,.hour,.minute{
      // font-size: 3rem;
      span{
        font-size: 1rem;
      }

      @media (max-width:768px) {
        p{
          font-size: 2rem;
        }
      }
    }
    
    .start{
      font-size: .8rem;
    }

    .calender{
      padding: 2px 16px;
      color: $main;
      font-size: .8rem;

      .row{
      background-color: $lightsky;
      padding: 4px 0px;
      }
      .launch{
        margin-top: 19px;
        background-color: darken($lightsky, 20%);
      }
        a{
          text-decoration: none;
          color: $main;
          transition: all .5s;
          &:hover{
font-weight: bold;          }
        }

    }

  }


}

// End design--board

.design-board-page
{
  .row{
    background-color: $main;
    color: $secodary;
    border-radius: 5px;
    margin-top: 80px;
    position: relative;
    padding: 0px;
  }
  .intro{
    line-height: 70px;
    input {
      padding: 0px 16px;
    text-align: center;
    background: transparent !important;
    color: $secodary;
    &:focus{
      outline: 0px;
    }
    }

    

  }
  .instruction{
    line-height: 30px;
  }
  .query{
    min-height:130px ;
    position: relative;

    &::after{
      content: "";
      position: absolute;
      right: 50%;
      top: 100%;
      height: 85px;
      border-left: 1px dashed $main;

    }
    &::before{
      content: "";
      position: absolute;
      left: 50%;
      top: -84px;
      height: 85px;
      border-left: 1px dashed $main;

    }
    

    .camra{
      position: absolute;
      width: 100px;
      height: 50%;
      right: 0%;
      z-index: 5;
      border: 1px solid $secodary;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: all .5s;
    }
    .rare-camra{
      bottom: 0%;
    }

    

    

    p, img{
      position: absolute;
    }
    img{
      top: 50%;
      right: -35px;
      transform: translateY(-50%);
      width:25px;
      height: 25px;
      @media (max-width:768px) {
            top: -12px;
    right: 2px;
      }
    
    }
    p{
         top: -11px;
    left: 0px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #2c2c2c;
    font-weight: 600;
     
    }
  }
  

  .add-question{
    position: absolute;
    left: 0%;
    bottom: -20%;
    // transform: translateX(-25%);
    text-decoration: none;
    color: $main;
   
    small{
    font-size: .7rem;
    font-weight: 700;
    }

    #add-q{
      width: 25px;
    height: 25px;
    background-color: #7e7873;
    border-radius: 50%;
    position: absolute;
    right: -28px;
    @media (max-width:768px) {
             top: 14px;
    
}
      }
      
    }
  }
  #question:focus .camra{
    opacity: 1;
  }

  #question{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: $main;
    color:$secodary ;
    line-height: 50px;
    &:focus{
      outline: 0px;
    }
  }
